<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- navbar starts here -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">YOUTUBE SUBTITLE EXTRACTOR</a>
        </div>
    </nav>
    <!-- navbar ends here -->

    <!-- container starts here -->
    <div class="container">
        <!-- table starts here -->
        <!-- for loop starts here -->
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th scope="col">Select Language</th>
                <th scope="col">Download</th>
            </tr>
            </thead>
        <br><br>
            {% for i in items %}
                <tbody>
                <tr>
                    <td>
                        {{ i.natural_language }}
                    </td>
                    <!-- button for download video -->
                    <td>
                        <form action= "{{ i.id }}/" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Download</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
        <!-- table ends here -->
    </div>
    <!-- container ends here -->
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
